body {
  padding: 2% 5%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #a50074;
  color: white;
}

.dataRows {
  cursor: pointer;
}

.dataRows:hover {
  background-color: rgb(235, 235, 235);
}

.app {
  font-family: monospace;
}

#mainHeading {
  text-align: center;
}

#subHeading {
  margin-top: 40px;
}

#head {
  margin-top: 30px;
}

.btn {
  background-color: #a50074;
  border: transparent;
  padding: 7px 17px;
  border-radius: 1px;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  color: white;
}

.paginationBtn {
  /* background-color: black; */
  color: white;
  border: transparent;
  padding: 7px 17px;
  cursor: pointer;
  outline: none;
  color: rgb(77, 77, 77);
  margin-right: 10px;
}

#pagination {
  margin-top: 20px;
  text-align: right;
}

.btnActive {
  border: 2px solid #d600c8;
}

.havePage {
  color: #d600c8;
}

#categoryData {
  margin-top: 40px;
  margin: 40px 60px;
}

#search {
  margin-right: 20px;
  padding: 7px;
  font-size: 15px;
  outline: none;
}

.inCenter {
  margin-top: 20%;
  justify-content: center!important;
  display: flex!important;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid lightgrey;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1000px) {
  #categoryData {
    margin: 0px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding: 2% 1%;
  }
}